
/* Background color */
body {
    background-color: rgb(255, 255, 255);
    background-color: #9E2A2F;
    text-align: center; 
    font-family: "Lobster Two", sans-serif;
    font-style: normal;
}

h1, p {
/* Header*/
h1 {
    text-align: center;
    font-family: "Cinzel", serif;
    font-style: normal;
}

/* Navigation bar */
.navbar {
    margin: 0;
    padding: 15px;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #D2C29F;

    font-family: "Rock Salt", cursive;
    font-style: normal;
}